<!doctype html>
<html lang="en">
    <head>
        <title>
            Counter Display
        </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="description" content="Counter Display">
        <!-- JQUERY -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <!-- Javascript -->
        <script type="text/javascript" src="http://localhost:8080/static/script.js"></script>
    </head>
    <body>
        <h1>Counter Display</h1>
        <div id="counter_graph">
        </div>
        <h3 id="latest_counter">
        </h3>
    </body>
</html>